[mysqld_safe]
socket		= /var/run/mysqld/mysqld.sock
nice		= 0

[mysqld]
user		= mysql
tmpdir		= /tmp
basedir		= /usr
lc-messages-dir	= /usr/share/mysql
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
log_error	= /var/log/mysql/error.log
general_log	= OFF
log_output	= TABLE
#log-output	= FILE
#general_log_file= /var/log/mysql/general.log
datadir		= /var/lib/mysql
port		= 3306
bind-address	= 127.0.0.1
key_buffer_size		= 16M
max_allowed_packet	= 4M # 4M - default, 256M - ASX
thread_stack		= 192K
thread_cache_size       = 8
myisam-recover-options  = BACKUP
expire_logs_days	= 7
max_binlog_size = 64K
query_cache_type = 0
skip-external-locking

skip-log-bin
secure_file_priv =
innodb_buffer_pool_size = 512M
innodb_log_file_size = 16M
join_buffer_size = 64M
tmp_table_size = 128M
max_heap_table_size = 32M
table_open_cache = 4000
slow_query_log = OFF
long_query_time = 0.01
explicit_defaults_for_timestamp = OFF
tls_version=TLSv1.2
